pdfanalyzer
.DS_Store
.vscode/settings.json
.vscode
build/  
out_images/*.dat
out_images/*.png
out_images/*.pdf
out_images/*.svg
out_images/*.eps
out_images/*.jpg
out_images/*.jpeg
out_images/*.tif
out_images/*.tiff
out_images/*.gif
out_images/*.bmp
out_images/*.webp       
out_images/*.heic
out_images/*.avif
out_images/*.ico
out_images/*.bin
out_images/*.dec